.jumbotron {
    color: #fff;
    background-position-y: 10%;
    color: #fff;
    background-color: #0e0b0b;
}

#localTime{
    text-align: center;
}

#clock {
    color: white;
    text-align: center;
}


div.panel-body {
    background-image: url('../image/background_train.jpg');
    color: black;
}

.btn-primary {
    background-color: #0d8613;
    border-color: #fff;
    font-weight: bold;
}
